$color-primary: #165C91;
$color-primary-dark: #124E7C;
$color-primary-light: #E6F0F8;
$color-bg: #F0F2F5;
$color-white: #FFFFFF;
$color-text-main: #333333;
$color-text-regular: #666666;
$color-text-secondary: #909399;
$color-border: #EBEEF5;
$color-danger: #F56C6C;
$color-success: #67C23A;
$color-warning: #E6A23C;

$font-weight-primary: 600;
$font-weight-regular: 400;

